# General 
project_name = "3tier-app"
environment  = "dev"

# Networking 
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["eu-west-1a", "eu-west-1b"]

# Compute 
instance_type = "t3.micro"
key_name      = "test-server-kp" 

# Database 
db_name     = "You database name"
db_username = "db_username"
db_password = "database password" 
